@page "/"

<div class="container">
    @if (IsLoading)
    {
        <div id="loader">
            <div id="loadText">
                <h4>@LoadText</h4>
            </div>
        </div>
    }
    <div class="grow">
        <ImageEditor @ref="ImageEditor"
                     GetObjUrlCallback="GetObjUrlAsync"
                     SaveJsonCallback="SaveJsonAsync"/>
    </div>
</div>
