.container {
    display: flex;
    flex-grow: 1;
    position: relative;
}

.grow {
    flex-grow: 1;
}

#loader {
    background-color: rgba(255, 255, 255, 0.5);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1000;
}

#loadText {
    left: 50%;
    position: absolute;
    top: 150px;
    transform: translate(-50%, -50%);
    text-shadow: #000 1px 0 10px;
}
